:root {
    --custom-margin-top: 40px;
    --custom-top: -40px;
}

.footer_BasicFooter_3T1iF {
    background: rgba(0, 0, 0, var(--custom-footer-opacity));
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    width: 100%
}

.basicappdetailssectionstyler_AppDetailsContainer_2-ns_ {
    height: calc(100vh - 40px);
}

.gamepadhome_TabbedContent_cE1Sa {
    min-height: calc(100vh - 40px);
}

.protondb-decky-indicator-small {
    top: 100px !important;
}

.FullModalOverlay {
    bottom: 40px
}

.backgroundglass_Visible_fSM7w ~ #Footer {
    position: relative;
}