.gamepadhomerecentgames_RecentGamesInnerContainer_282X0 {
    height: 100vh !important;
}

.gamepadhome_RecentSection_39tNv {
    height: 100vh !important;
    padding-bottom: 0px !important
}

.gamepadhomerecentgames_RecentGamesContainer_2_cRk {
    height: 100vh !important;
    padding: 0px;
}
