.gamepadlibrary_GamepadLibrary_ZBBhe {
    padding-bottom: 40px;
}

.mediapage_MediaPage_gG1JN {
    padding-bottom: 40px;
}

.downloads_DownloadsPage_1bq4x {
    padding-bottom: 40px;
}

.gamepadpage_GamepadPagedSettingsPage_3eUwJ {
    padding-bottom: 40px;
}

.appdetails_Container_2iE-7 {
    bottom: 40px;
}

.friendslist_FriendsChatsContainer_2Ze6b {
    bottom: 40px;
}